body { 
 font-family: Arial, sans-serif;
 background:#f2f2f2;
text-align:center;
}

.container {
 background:white; 
 padding:20px;
 width:400px;
 margin: auto;
 border-radius:10px;
}

button{
  margin:5px;
  padding:10px;
}

span{
   margin-left:10px; 
   font-weight:bold;

}

